<div class="row">
    <div class="col-md-8">
        <h1 class="txt primary center">
            Manage Inmates
        </h1>
        <table class="table stripped">
            <tr>
                <th>Inmate ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Cell</th>
                <th>Next of kin</th>
                <th>Next of Kin Age</th>
                <th>Next of Kin Mail</th>
            </tr>
            
        </table>
    </div>
</div>